#job-footer{
	width: 3.2rem;
	height: 2rem;
	padding-bottom: .4rem;
	text-align:center;

}
#job-footer .list-more{
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	font-size: 18px;
	background: #fafafa;
	margin-bottom: .30rem;
}
#job-footer .list-foot{
	height: 0.32rem;
	line-height: 0.32rem;
	color: #333;

}
#job-footer .list-foot .mob{
	color: #ccc;
}
